#logged-in-view {
    display: none;
}

#login-form {
    font-size: 22px;
    max-width: 700px;
    padding: 100px;
}

.session-container {
    background: #d1ebff;
    padding: 40px;
    margin-bottom: 100px;
}

select {
    font-size: 20px;
}

option :disabled {
    color: #8eccff;
}

.login-button {
    margin-top: 40px;
    background: #8eccff;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
}

body {
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0 10px;
}

#name-select {
    font-size: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 12px 0;
}

h6 {
    font-weight: 300;
}

.section {
    background-color: #e7eff1;
    padding: 10px 20px;
    margin: 20px 0px;
}

textarea,
button {
    font-size: 22px;
}

#samples {
    margin: 20px 0;
}

#samples>button, #activities>button {
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid grey;
    padding: 3px 8px;
}
.primary-selected {
    background-color: rgb(12, 38, 105);
    color: white;
}

.secondary-selected {
    background-color: rgb(147, 147, 172);
    color: white;
}

#samples .unselected {
    background-color: cornsilk;
    color: black;
}

#activities .unselected {
    background-color: rgb(220, 255, 239);;
    color: black;
}


#student-code-title {
    margin: 5px;
}

#run-button {
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    margin: 50px 50px 20px 50px;
}

textarea,
pre {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

#output-div {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 20px;
    background-color: lightblue;
    padding: 22px;
    margin-bottom: 50px;
    max-width: 800px;
    min-height: 100px;
}


#code-container {
    position: relative;
    width: 400px;
    height: 200px;
}

#code-area {
    position: absolute;
    opacity: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 400px;
    min-height: 200px;

    color: #000;
    background: 0 0;
    background-color: white;
    text-shadow: 0 1px #fff;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: break-word;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    overflow: hidden;
    resize: none;
}

textarea {
    word-break: break-all;
}

#rendered-code-container {
    position: absolute;
    left: 3;
    right: 0;
    top: 3;
    bottom: 0;

    pointer-events: none;
    overflow: hidden;
}

@-moz-document url-prefix() {
    #rendered-code-container {
        left: 4;
        top: 4;
        bottom: 0;
    }
}

#rendered-code-container * {
    padding: 0;
    margin: 0;
}

#ta-code-section {
    max-width: 1200px;
}

#correction {
    margin-top: 20px;
}

#instructions {
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
}

#student-code-title {
    text-align: center;
    font-weight: bold;
}

#teacher-edit-notification {
    color: darkred;
    font-style: italic;
    font-size: 20px;
    visibility: hidden;
}

#student-body {
    background: #f3fcff
}

#ta-body {
    background: #fff1e9;
}

#links-body {
    background: #f3fcff;
}

#links-container {
    display: flex;
    flex-direction: column;
}

#links-container > a {
    padding: 0.5em;
    margin: 0.5em;
    width: fit-content;
    background-color: lightblue;
    border-radius: 10px;
}

#test-cases textarea{
    width: 320px;
    word-wrap: initial;
}

#test-cases div {
    max-width: 700px;
    padding: 10px 20px;
    margin-bottom: 8px;
}

#test-cases > div > div {
    /* margin-bottom: 5px; */
    margin: 0px;
    padding: 0px;
}
/* #test-cases {
    display: flex;
    flex-direction: row;
    flex-w
}

#test-cases * {
    flex: 1
} */